# Dependencies
node_modules/

# Coverage
coverage/

# Environment variables
.env
.env.local
.env.*.local
*.secret

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/
